@charset "UTF-8";

/*Todas as mídias*/

/*Typical Device Breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1200px
*/

/*Configurações de impressão */
@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg); /* Não imprimi background */
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display:block; }
    #desktop{ display:none; }
    #tvs{ display:none; }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone { display: none; }
    #tablet { display: block; }
    #print { display:none; }
    #desktop{ display:none; }
    #tvs{ display:none; }
}

/* Desktop */
@media screen and (min-width: 993px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display:none; }
    #desktop{ display:block; }
    #tvs{ display:none; }

}

/*Grandes Telas */
@media screen and (min-width:1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display:none; }
    #desktop{ display:none; }
    #tvs{ display:block; }

}
